@import "tailwindcss";

@theme {
  --color-gold-50: #fdfcf7;
  --color-gold-100: #f8f3e6;
  --color-gold-200: #ead9a8;
  --color-gold-300: #dfc177;
  --color-gold-400: #d4af37;
  --color-gold-500: #c19528;
  --color-gold-600: #a07420;
  --color-gold-700: #7f5a1c;
  --color-gold-800: #5e4316;
  --color-gold-900: #3d2b0e;
}

:root {
  --gold-50: #fdfcf7;
  --gold-100: #f8f3e6;
  --gold-200: #ead9a8;
  --gold-300: #dfc177;
  --gold-400: #d4af37;
  --gold-500: #c19528;
  --gold-600: #a07420;
  --gold-700: #7f5a1c;
  --gold-800: #5e4316;
  --gold-900: #3d2b0e;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b;
  /* zinc-950 */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--gold-600), var(--gold-400));
  border-radius: 10px;
  border: 1px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, var(--gold-500), var(--gold-300));
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--gold-400) #09090b;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(212, 175, 55, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--gold-400);
  border-radius: 10px;
}